$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

$primary-green: #68b738;
$lighter-green: rgba(104, 183, 56, 0.85);
$special-dark-grey: #444444;
$darker-grey: #222222;
$light-grey: #eaeaea;
$lightest-grey: #f2f2f2;
