.product__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $darker-grey;
  text-decoration: none;
  text-transform: uppercase;
}

.product__order-link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $primary-green;
}
