.additional-products__wrapper {
  @include global-paddings;
  max-width: 1220px;
  margin: 0 auto;
}

.additional-products__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.additional-products__content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;

  @media (min-width: $desktop-width) {
    grid-template-columns: 3fr 1fr;
    gap: 80px;
  }
}

.additional-products__list {
  @include list-style;
}
