.advantages__wrapper {
  @include global-paddings;
  position: relative;
  max-width: 1220px;
  margin: 0 auto;
  margin-bottom: 49px;


  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}

.advantages__wrapper::after {
  position: absolute;
  display: none;
  bottom: -47px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  content: "";

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  @include list-style;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 37px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 83px;
  }
}

.advantages__item {
  position: relative;
  padding: 3px 0 3px 80px;
  min-height: 54px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.advantages__item:first-child {
  @media (min-width: $tablet-width) {
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.advantages__item:nth-child(2) {
  @media (min-width: $tablet-width) {
    width: 246px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.advantages__item:nth-child(3) {
  @media (min-width: $tablet-width) {
    width: 247px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.advantages__item:last-child {
  @media (min-width: $tablet-width) {
    width: 249px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.advantages__item p {
  margin: 0;
  vertical-align: middle;

  @media (min-width: $tablet-width) {
    padding-top: 142px;
    padding-bottom: 66px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 144px;
    padding-bottom: 64px;
  }
}

.advantages__item br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.advantages__item::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background-color: $primary-green;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  content: "";

  @media (min-width: $tablet-width) {
    top: 70px;
    width: 80px;
    height: 80px;
    background-position: center;
    background-size: 35%;
  }
}

.advantages__item--leaf::before {
  background-image: url("../../icons/stack.svg#icon-leaf");
}

.advantages__item--pulver::before {
  background-image: url("../../icons/stack.svg#icon-pulver");
}

.advantages__item--eat::before {
  background-image: url("../../icons/stack.svg#icon-eat");
}

.advantages__item--clock::before {
  background-image: url("../../icons/stack.svg#icon-clock");
}

@media (min-width: $tablet-width) {
  .advantages__item::after {
    position: absolute;
    top: -10px;
    right: 0;
    z-index: -1;
    font-family: $secondary-font;
    font-size: 280px;
    line-height: 280px;
    color: $lightest-grey;
  }

  .advantages__item--leaf::after {
    content: "1";
  }

  .advantages__item--pulver::after {
    content: "2";
  }

  .advantages__item--eat::after {
    content: "3";
  }

  .advantages__item--clock::after {
    content: "4";
  }
}

@media (min-width: $tablet-width) {
  .advantages__item::after {
    top: -8px;
    right: -2px;
  }

  .advantages__item--leaf::after {
    content: "1";
    right: 18px;
  }
}
