.advertisement-wrapper {
  background-color: $lighter-green;
}

.advertisement-wrapper::before {
  position: absolute;
  right: 0;
  width: 78px;
  height: 80px;
  background-color: $lighter-green;
  background-image: url("../../icons/stack.svg#icon-gift");
  content: "";
}

.advertisement-wrapper__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
