.advertisement-wrapper {
  position: relative;
  height: 290px;
  margin-top: 35px;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/image-mobile-2x@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    height: 200px;
    margin-top: 70px;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/image-tablet-2x@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    height: 288px;
    margin-top: 0;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/image-desktop-2x@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.advertisement-wrapper::after {
  position: absolute;
  top: -35px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #cdcdcd;
  content: "";

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.advertisement-wrapper::before {
  position: absolute;
  top: 59px;
  left: 50%;
  transform: translateX(-50%);
  width: 78px;
  height: 80px;
  background-image: url("../../icons/stack.svg#icon-gift");
  content: "";

  @media (min-width: $tablet-width) {
    top: 50%;
    left: 77px;
    transform: translateY(-50%);
  }

  @media (min-width: $desktop-width) {
    top: 56px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.advertisement-wrapper__text {
  position: absolute;
  top: 188px;
  width: 100%;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;

  @media (min-width: $tablet-width) {
    top: 50%;
    right: 125px;
    transform: translateY(-50%);
    width: 161px;
  }

  @media (min-width: $desktop-width) {
    top: 185px;
    right: 0;
    transform: none;
    width: 100%;
  }
}
