.button {
  padding: 10px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: $primary-green;
  cursor: pointer;
}

.button--primary:hover,
.button--primary:focus {
  background-color: $secondary-green;
}

.button--primary:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: $secondary-green;
}

.button--secondary {
  color: $special-dark-grey;
  background-color: $lightest-grey;
}

.button--secondary:hover,
.button--secondary:active,
.button--secondary:focus {
  background-color: #ebebeb;
}

.button--big-font {
  font-size: 20px;
  line-height: 26px;
}
