.catalog__list {
  @include list-style;
  @include global-paddings;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1220px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
  }
}
