.comparison {
  position: relative;
  width: 280px;
  height: 256px;
  margin: 0 auto;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    bottom: 150px;
    width: 560px;
    height: 512px;
    margin: 0 auto;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    left: 225px;
  }
}

.comparison picture {
  position: absolute;
}

.comparison__button {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 2px solid #666666;
  border-radius: 50%;
}

.comparison__button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 18px;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#drag-arrows");
  content: "";
}

.comparison__button::after {
  position: absolute;
  top: -110px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 256px;
  background-color: #666666;
  border-radius: 2px;
  content: "";

  @media (min-width: $tablet-width) {
    height: 512px;
    top: -238px;
  }
}

.comparison__button:hover {
  border-color: $primary-green;
}

.comparison__button:active {
  border-color: rgba(94, 170, 47, 0.6);
}

.comparison__button:hover::before,
.comparison__button:hover::after {
  background-color: $primary-green;
}

.comparison__button:active::before,
.comparison__button:active::after {
  background-color: rgba(94, 170, 47, 0.6);
}
