.comparison {
  position: relative;
  width: 280px;
  height: 256px;
  margin: 0 auto;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
    margin: 0 auto;
    margin-bottom: 101px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 83px;
  }
}

.comparison__image-wrapper {
  position: absolute;
  display: flex;
  width: 280px;
  height: 100%;
  overflow: hidden;
  justify-content: left;

  @media (min-width: $tablet-width) {
    width: 560px;
  }
}

.comparison__image-wrapper--before {
  justify-content: left;
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 280px;
  }
}

.comparison__image-wrapper--after {
  justify-content: right;
  right: 0;
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 280px;
  }
}

.comparison__image {
  position: relative;
  width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.comparison picture {
  position: absolute;
}

.comparison__button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 256px;
  padding: 0;
  background-color: #666666;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  content: "";

  @media (min-width: $tablet-width) {
    height: 512px;
  }
}

.comparison__button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 18px;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#drag-arrows");
  content: "";
}

.comparison__button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 2px solid #666666;
  border-radius: 50%;
  content: "";
}

.comparison__button:hover,
.comparison__button:hover::before {
  background-color: $primary-green;
}

.comparison__button:active,
.comparison__button:active::before {
  background-color: rgba(94, 170, 47, 0.6);
}

.comparison__button:hover::after {
  border-color: $primary-green;
}

.comparison__button:active::after {
  border-color: rgba(94, 170, 47, 0.6);
}
