.comparison__button {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 2px solid #666666;
  border-radius: 50%;
}

.comparison__button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 18px;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#drag-arrows");
  content: "";
}

.comparison__button:hover {
  border-color: $primary-green;
}

.comparison__button:active {
  border-color: rgba(94, 170, 47, 0.6);
}

.comparison__button:hover::before {
  background-color: $primary-green;
}

.comparison__button:active::before {
  background-color: rgba(94, 170, 47, 0.6);
}
