.introduction-container {
  position: relative;
}

.introduction-container::before {
  position: absolute;
  z-index: -1;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index-background-mobile-2x@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 302px;
  content: "";

  @media (min-width: $tablet-width) {
    background: none;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    top: -170px;
    right: 0;
    width: 50%;
    height: 694px;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index-background-desktop-2x@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
  }
}

.introduction-container__wrapper {
  @include global-paddings;
  max-width: 1220px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
  font-family: $secondary-font;
  color: #ffffff;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 2fr;
    margin-bottom: 105px;
    color: #000000;
  }
}

.introduction-container__title {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 40px;
    padding-left: 90px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    min-width: 416px;
    margin-top: 55px;
    margin-bottom: 40px;
    padding: 0;
    padding-left: 80px;
  }
}

.introduction-container__title br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.introduction-container__subtitle {
  margin: 0;
  margin-bottom: 29px;
  line-height: 14px;
  text-transform: uppercase;


  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
    padding-left: 90px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    margin-bottom: 52px;
    padding-left: 80px;
  }
}

.introduction-container__image-wrapper {
  @media (min-width: $tablet-width) {
    order: 4;
    margin-bottom: -2px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 5;
  }
}


.introduction-container__image-wrapper img {
  @media (min-width: $desktop-width) {
    position: relative;
    top: -30px;
    left: -135px;
  }
}

.introduction-container__button {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 270px;
    left: 120px;
    max-width: 244px;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 0;
    left: 80px;
    grid-column: 1 / 2;
    padding: 14px 0;
  }
}
