.main-footer {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 20px;
  background-color: $lightest-grey;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.main-footer__logo-text {
  display: block;
  width: 128px;
  height: 24px;
  background-color: #111111;
  mask-image: url("../../icons/stack.svg#footer-logo");
}

.main-footer__logo-text:hover,
.main-footer__logo-text:focus {
  background-color: #3e3e3e;
}

.main-footer__logo-text:active {
  background-color: #6b6b6b;
}
