.main-header__wrapper {
  @include global-paddings;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1220px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-header__wrapper--underlined::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  content: "";

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__wrapper--nojs {
  @include global-paddings;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1220px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    height: 100px;
  }

  @media (min-width: $desktop-width) {
    height: 170px;
  }
}

.main-header__logo--nojs {
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.main-header__logo-text {
  width: 114px;
  margin-top: 8px;
  margin-left: 56px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle-nav {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle-nav--open,
.main-header__toggle-nav--close {
  position: relative;
}

.main-header__toggle-nav--open::after {
  position: absolute;
  top: -4px;
  width: 2px;
  height: 25px;
  background-color: #000000;
  transform: rotate(45deg);
  content: "";
}

.main-header__toggle-nav--open::before {
  position: absolute;
  top: -4px;
  width: 2px;
  height: 24px;
  background-color: #000000;
  transform: rotate(-45deg);
  content: "";
}

.main-header__toggle-nav--close::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 25px;
  height: 3px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  content: "";
}

.main-header__toggle-nav--nojs {
  display: none;
}
