.main-footer {
  background-color: $lightest-grey;
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 55px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 67px 0;
  }
}

.main-footer__wrapper {
  @include global-paddings;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1220px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer__logo-text {
  display: block;
  width: 100%;
  height: 24px;
  margin-bottom: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 128px;
    margin-right: 160px;
    margin-bottom: 0;
    text-align: right;
  }
}

.main-footer__logo-text:hover,
.main-footer__logo-text:focus {
  opacity: 0.8;
}

.main-footer__logo-text:active {
  opacity: 0.6;
}
