/* здесь подключите стили main-header */

.main-header {
  @include global-paddings;
  display: flex;
}

.main-header__logo {
  height: 65px;

  @media (min-width: $tablet-width) {
    height: 75px;
  }

  @media (min-width: $desktop-width) {
    height: 115px;
  }
}

@media (min-width: $tablet-width) {
  .logo__text {
    display: none;
  }
}
