.newsletter {
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 80px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 96px 0 104px;
  }
}

.newsletter__wrapper {
  @include global-paddings(20px, 68px, 110px);
  max-width: 1220px;
  margin: 0 auto;
}

.newsletter__title-wrapper {
  display: flex;
  gap: 40px;
  padding-left: 20px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    gap: 40px;
    padding-left: 0;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
    margin-left: 0;
  }
}

.newsletter__title-wrapper::before {
  height: 15px;
  width: calc(50% - 160px);
  border-bottom: 2px solid $primary-green;
  display: none;
  content: "";

  @media (min-width: $tablet-width) {
    display: block;
    height: 14px;
    width: 30px;
  }

  @media (min-width: $desktop-width) {
    height: 17px;
    width: calc(50% - 650px);
  }
}

.newsletter__title-wrapper::after {
  height: 10px;
  width: 10px;
  border-bottom: 2px solid $primary-green;
  flex-grow: 1;
  content: "";

  @media (min-width: $tablet-width) {
    height: 14px;
  }

  @media (min-width: $desktop-width) {
    height: 17px;
  }
}

.newsletter__title {
  position: relative;
  margin: 0;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }
}

.newsletter__intro {
  margin: 0;
  margin-bottom: 24px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
    font-size: 24px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 32px;
  }
}

.newsletter__intro br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.newsletter__form {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    grid-template-columns: 376px 256px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 496px 256px;
    padding: 0 234px;
  }
}

.newsletter__input {
  margin-bottom: 17px;
  margin-right: 1px;
  padding: 13px;
  padding-top: 11px;
  padding-left: 12px;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  border: none;
  outline: 1px solid #e7e7e7;

  @media (min-width: $tablet-width) {
    padding-top: 14px;
    padding-bottom: 12px;
    margin-bottom: 0;
  }
}

.newsletter__input:hover {
  outline: 1px solid #cdcdcd;
}

.newsletter__input:focus {
  margin-right: 2px;
  outline: 2px solid $special-dark-grey;
}

.newsletter__input-error {
  margin-right: 2px;
  outline: 2px solid #ff8282;
}

.newsletter__input::placeholder {
  color: $special-dark-grey;
  opacity: 1;
}

.newsletter__submit-button {
  padding: 15px;
  font-size: 20px;
  line-height: 26px;
  border: none;
}
