.newsletter__wrapper {
  @include global-paddings(20px, 68px, 110px);
  max-width: 1220px;
  margin: 0 auto;
}

.newsletter__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.newsletter__intro {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-align: center;
}

.newsletter__form {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    grid-template-columns: 376px 256px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 496px 256px;
    padding: 0 234px;
  }
}

.newsletter__input {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}

.newsletter__input::placeholder {
  color: $special-dark-grey;
  opacity: 1;
}

.newsletter__submit-button {
  padding: 15px 0;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $primary-green;
  border: none;
}
