.other-products__intro {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-align: center;
  text-transform: uppercase;
}

.other-products__description {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
