.product {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 0 24px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    padding: 150px 37px 40px;
    background-color: $light-grey;
  }
}

.product::after {
  position: absolute;
  left: -20px;
  width: 100vw;
  height: 1px;
  background-color: #d9d9d9;
  content: "";

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.product__link-image {
  display: inline-block;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.product__link-image:hover,
.product__link-image:focus {
  opacity: 0.6;
}

.product__link-image:active {
  opacity: 0.4;
}

.product__link {
  display: inline-block;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $darker-grey;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
  }
}

.product__link:hover,
.product__link:focus {
  opacity: 0.6;
}

.product__link:active {
  opacity: 0.4;
}

.product__info-wrapper {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 36px;
  }
}

.product__title {
  max-width: 76px;
  margin: 0;
  margin-top: 2px;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    max-width: 135px;
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    max-width: 140px;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product__title br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.product__order-button {
  grid-column: 1 / 3;
  margin-top: auto;
  text-align: center;
}
