.set {
  position: relative;
  background-color: $lightest-grey;
}

.set::before {
  position: absolute;
  right: 0;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
}

.set--slim::before {
  width: 50px;
  height: 53px;
  background-image: url("../../icons/stack.svg#cat_slim");
}

.set--pro::before {
  width: 67px;
  height: 50px;
  background-image: url("../../icons/stack.svg#cat_pro");
}

.set__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
}

.set__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.set__link:active {
  color: rgba(0, 0, 0, 0.7);
}

.set__link::before {
  position: absolute;
  right: 0;
  width: 32px;
  height: 10px;
  background-color: #000000;
  mask-image: url("../../icons/stack.svg#arrow");
  content: "";
}

.set__link:hover::before {
  background-color: #000000;
  mask-image: url("../../icons/stack.svg#arrow-hovered");
}

.set__link:active::before {
  background-color: rgba(0, 0, 0, 0.7);
  mask-image: url("../../icons/stack.svg#arrow-hovered");
}
