.sets-container__wrapper {
  @include global-paddings;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 1220px;
  margin: 0 auto;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    gap: 30px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 73px;
  }
}
